body {
    background-color: black;
    border: 2px solid hsl(0, 95%, 33%);
    box-shadow: 0 0 200px 30px rgba(179, 6, 6, 0.7);
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media (max-width: 768px) {
    body {
        box-shadow: 0 0 100px 15px rgba(179, 6, 6, 0.7);
        border-width: 1px;
        padding: 10px;
    }
}

@media (max-width: 480px) {
    body {
        box-shadow: 0 0 60px 10px rgba(179, 6, 6, 0.7);
        border-width: 1px;
    }
}
