
body {
    background: #0e0e0e;
    color: white;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    text-align: center;
}

.nsfw {
    display: inline-block;
    background: #b80000;
    padding: 6px 12px;
    border-radius: 6px;
    font-weight: bold;
    margin-bottom: 10px;
}
.contenedor-info {
    max-width: 900px;
    margin: auto;
    margin-bottom: 25px;
    text-align: left;
}

.contenedor-info img {
    width: 180px;
    border-radius: 10px;
    float: left;
    margin-right: 20px;
}
.video-container {
    position: relative;
    width: 100%;
    max-width: 980px;
    margin: 30px auto 0 auto;
    aspect-ratio: 16 / 9;
}

.video-container video {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    border-radius: 12px;
    object-fit: cover;
    background: black;
}

@media (max-width: 600px) {
    .contenedor-info img {
        width: 120px;
    }

    .contenedor-info {
        text-align: center;
    }

    .contenedor-info img {
        float: none;
        display: block;
        margin: 0 auto 15px auto;
    }
}
